<!DOCTYPE html>
<html>
<head>
  <title>Sandbox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <a href="<%= root_path %>">Home Page</a>
      <a href="<%= about_path %>">About Page</a>
      <a href="<%= contact_path %>">Contact Page</a>
      <a href="<%= meals_path %>">Meals Page</a>
    </header>
    <section>
    <%= yield %>
    </section>
<footer>
  copyright &copy <%= Time.now.year %>
</footer>

</body>
</html>
